<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>540429427414-k2fl513oni22i5ve3a87ckk79lvss7vh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.540429427414-k2fl513oni22i5ve3a87ckk79lvss7vh</string>
	<key>API_KEY</key>
	<string>AIzaSyBVO5HZ_t-OfcFbXTyhwLXCtGJKQN9t6Ew</string>
	<key>GCM_SENDER_ID</key>
	<string>540429427414</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-1e555</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-1e555.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:540429427414:ios:c4b5b1cf522aae79941f77</string>
</dict>
</plist>